@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-family: "Montserrat";
}

body {
  background-color: #24252a;
}
